.gear.styler-trigger {
  display: none !important;
}
.color-styler-wrapper {
  display: none !important;
}

.bg-hero {
  background-image: url("./images/hero-dark.jpg");
}
.bg-card1 {
  background-image: url("./images//portfolio-thumbnail-01-dark.jpg");
}
.bg-card2 {
  background-image: url("./images//portfolio-thumbnail-02-dark.jpg");
}
.bg-card3 {
  background-image: url("./images//portfolio-thumbnail-03-dark.jpg");
}
.bg-card4 {
  background-image: url("./images//portfolio-thumbnail-04-dark.jpg");
}

.bg-image-color {
  background-image: url("./images/low-poly.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.gradient {
  background: linear-gradient(
    90deg,
    rgb(1 103 109 / 80%) 0%,
    rgb(151 85 198 / 80%) 100%
  );
}
section.pa-cta-v1 {
  background: linear-gradient(90deg, rgb(0 0 0 / 80%) 0%, rgb(0 0 0 / 0%) 100%);
}
section#contact-us {
  background-color: #61388666 !important;
}
.nav-wrapper.nav-wrapper-0 {
  background-color: black;
}
a.nav-link.hvr-underline-from-center.nav-item-link {
  background-color: black;
}
.nav-custom-content {
  background-color: black;
}

/* login btn  */

.nav-link.hvr-underline-from-center {
  display: flex;
}
/* form to login */
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  display: flex !important;
  width: 20rem !important;
  justify-content: center !important;
  align-items: center !important;
}
input#input-with-icon-adornment {
  background: transparent;
  border: none;
  font-size: 1.1rem;
  color: #49007a;
}
.MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedStart.css-v4u5dn-MuiInputBase-root-MuiInput-root {
  margin: 1rem 0px;
}

/* For Firefox */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Chrome, Safari, and Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Internet Explorer and Edge */
input[type="number"]::-ms-clear {
  display: none;
}

form.MuiBox-root.css-0 {
  margin: auto;
  text-align: center;
}
.errorMessage {
  color: rgb(147, 0, 0);
  height: 3rem !important;
  padding: 0px 20px !important;
}
