.gear.styler-trigger {
  display: none !important;
}
.color-styler-wrapper {
  display: none !important;
}

.bg-hero {
  background-image: url("./images/hero-dark.jpg");
}
.bg-card1 {
  background-image: url("./images//portfolio-thumbnail-01-dark.jpg");
}
.bg-card2 {
  background-image: url("./images//portfolio-thumbnail-02-dark.jpg");
}
.bg-card3 {
  background-image: url("./images//portfolio-thumbnail-03-dark.jpg");
}
.bg-card4 {
  background-image: url("./images//portfolio-thumbnail-04-dark.jpg");
}
